@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.founder_messages_area {
  margin-top: 80px;
  padding: 60px 0;
  background-color: $bg;
  margin-bottom: -80px;

  .image{
    border: 1px solid $primary;
    padding: 14px;
    background-color: $white;
  }

  .text {
    .title {
      @include font(32px, 500);
      margin-bottom: 5px;
    }

    .subtitle {
      @include font(28px, 500);
      margin-bottom: 15px;
    }
  }

  .bg-cng{
    background-color: transparent !important;
    border: 2px solid rgba(51,51,51,.7);
    color: rgba(51,51,51,.7);
    &::before{
      background-color: transparent !important;
    }
    &:hover{
      border: 2px solid $primary;
      color: $white;
      background-color: $primary !important;
    }
  }
}