@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.practice_area {
  padding-top: 80px;
  margin-bottom: 80px;
  
  .bg-static{
    background-color: #333333;
    display: inline-block;
  }

    .area-wrapper{
      margin: -20px 0;

      .image{
        width: 100%;
        height: 330px;
        position: relative;
        
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
        .overly{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          transition: .5s;
          
          h3{
            margin: 6px;
            width: 100%;
            transition: .3s;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border: 4px solid rgba(0, 0, 0, 0);
            
            
            
            p{
              // width: 250px;
              font-family: "Roboto", sans-serif;
              @include font(26px, 400);   
              position: relative;
              color: $white;
              word-wrap: break-word;
              word-break: break-word;

              &::before {
                position: absolute;
                bottom: -30px;
                left: 50%;
                width: 40px;
                height: 4px;
                background-color: #2b6cac;
                content: "";
                transform: translateX(-50%);
              }           
            }
          }

          &:hover{
            background-color: rgba(0, 0, 0, 0.7);

            h3{
              border: 4px solid #2b6cac
            }
          }
        }
      }
    }
  
}

.practice_item {
  border: 1px solid $border;
  border-radius: 5px;
  padding: 24px;
  display: flex;
  align-items: center;
  transition: $transition;
  height: 100%;

  .image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary;
    margin-right: 30px;
    transition: $transition;


    i {
      font-size: 30px;
      color: $primary;
      transition: $transition;

    }
  }

  .text {
    .title {
      @include font(26px, 600);
      color: $black;
      transition: $transition;
    }
  }

  &:hover {
    background-color: $primary;
    border-color: $primary;

    .image {
      border-color: $white;

      i {
        color: $white;
      }
    }

    .text {
      .title {
        color: $white;
      }
    }
  }

}

.practice_area_page .area-wrapper .image .overly h3 span::before {
	content: none !important;
}