@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.projects_area {
  padding-top: 80px;
}

.projects_item {
  background-color: $white;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, .1);
  height: 100%;

  .image {
    overflow: hidden;

    img {
      transition: $transition;
    }
  }

  .text {
    padding: 40px 25px;
    position: relative;

    .title {
      font-family: 'Roboto', sans-serif;
      @include font(16px, 500);
      color: $black;
      transition: $transition;
      text-align: center;
    }

    &::after {
      content: " ";
      display: block;
      position: absolute;
      left: calc(50% - 13px);
      top: -19px;
      width: 26px;
      height: 38px;
      background-size: 100%;
      background-image: url(../../images/add.png);
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.1);
      }
    }

    .title {
      color: $primary;
    }
  }
}